canvas{
    box-shadow: 5px;
    padding: 3px;
    margin-bottom: 5px;
}
 header{
    box-shadow: 3px; 
    padding: 5px;
    margin-top: 8px;  
 }
 footer{
    box-shadow: 6px;
    padding: 9px;
    margin-left: 7px; 
 }